{% load static %}
{% load compress %}
{% compress css %}
    <link type="text/x-scss" href="{% static 'CSS/nav.scss' %}"     rel="stylesheet" media="screen">
{% endcompress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="home"></i><span>Home</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="message-square"></i><span>Messages</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="users"></i><span>Customers</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="folder"></i><span>Projects</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="archive"></i><span>Resources</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="help-circle"></i><span>Help</span></a
            >
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link"
              ><i data-feather="settings"></i><span>Settings</span></a
            >
          </li>
        </ul>
      </nav>
      <script src="https://unpkg.com/feather-icons"></script>
      <script src="{% static 'JS/nav.js' %}"></script>
    {% block content %}

    {% endblock %}
</body>
</html>