{% load static %}
{% load compress %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'CSS/navbar.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="home"></i><span>Home</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="message-square"></i><span>Messages</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="users"></i><span>Customers</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="folder"></i><span>Projects</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="archive"></i><span>Resources</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="help-circle"></i><span>Help</span></a
            >
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"
            ><i data-feather="settings"></i><span>Settings</span></a
            >
        </li>
    </ul>
</nav>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{% static 'JS/navbar.js' %}"></script>
</body>
</html>