{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<head>
    <title>{% block title %}Signup{% endblock title %}</title>
</head>
<body>
{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="" method="post">
            {% csrf_token %}
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                {% render_field signup_form.Name class="Name" type="text" placeholder="Name" %}
                {% if signup_form.Name.errors %}
                    <small class="error">{{ signup_form.Name.error }}</small>
                {% endif %}
                {% render_field signup_form.Email class="Email" type="email" placeholder="Email" %}
                {% if signup_form.Email.errors %}
                    <small class="error">{{ signup_form.Email.errors }}</small>
                {% endif %}
                {% render_field signup_form.Password class="Password" type="password" placeholder="Password" %}
                {% if signup_form.Password.errors %}
                    <small class="error">{{ signup_form.Password.errors }}</small>
                {% endif %}
                {% render_field signup_form.Confirm_Password class="Confirm_Password" type="password" placeholder="Confirm Password" %}
                {% if signup_form.Confirm_Password.errors %}
                    <small class="error">{{ signup_form.Confirm_Password.errors }}</small>
                {% endif %}
                <input type="hidden" name="signup" value="signup">
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Log In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                {% render_field login_form.Email class="Email" type="email" placeholder="Email" %}
                {% if login_form.Email.errors %}
                    <small class="error">{{ login_form.Email.errors }}</small>
                {% endif %}
                {% render_field login_form.Password class="Password" type="password" placeholder="Password" %}
                {% if login_form.Password.errors %}
                    <small class="error">{{ login_form.Password.errors }}</small>
                {% endif %}
                <a href="#">Forget Your Password?</a>
                <input type="hidden" name="login" value="login">
                <button type="submit">Log In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="toggle-login border border-white" id="login">Log In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="toggle-signup border border-white" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">var mode="{{ page }}"</script>
    <script src="{% static 'JS/signup.js' %}"></script>
{% endblock content %}
</body>