{% extends 'base.html' %}
{% load static %}
<head>
    <title>{% block title %}Signup{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
</head>
<body>
{% block content %}
    <div class="visme_d" data-title="Login" data-url="76nr77oz-login?fullPage=true" data-domain="forms"
    data-full-page="true" data-min-height="100vh" data-form-id="72972"></div>
    <script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
{% endblock content %}
</body>
</html>